<!DOCTYPE html>
<html ng-app="storeApp">
    <head>
        <title>药+</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" >
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
        <link href="js/libs/bower_components/ng-table/ng-table.min.css" rel="stylesheet" />
        <link href="assets/styles.css" rel="stylesheet" media="screen">
        <link href="assets/DT_bootstrap.css" rel="stylesheet" media="screen">
        <script src="vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <link href='js/bower_components/angular-smarty/angular-smarty.min.css' />
    </head>

    <body ng-controller="baseController">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">药+管理后台</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="javascript:///;" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                {{user.company_name}} {{user.realname}}
                                <span ng-if="user.role_type == 1">企业积分：{{user.score}}积分</span>
                                 <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li>
                                        <a  href="javascript:void(0);" ng-click="logout();">退出登录</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li ng-repeat='item in menus' style="position:relative;">
                            <span ng-if="user.role_type == 1 && neworders > 0 && item.val=='订单管理'" style="position: absolute; top: 2px; right: 89px; color: white; background-color: rgb(255, 153, 0); border-radius: 50px; padding: 0px 7px; font-family: Arial; font-size: 12px;">{{neworders}}</span>
                            <a href="#/{{item.url}}"><i class="icon-chevron-right"></i> {{item.val}}</a>
                        </li>
                    </ul>
                </div>

                <!--/span-->
                <div class="span10" id="content" ng-view style="margin-left:10px;">
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; 正桥网络 2015</p>
            </footer>
        </div>
        <!--/.fluid-container-->
        <script>
        if(!Array.prototype.forEach){
            Array.prototype.forEach = function(callback, thisArg) {
                var T, k;
                if (this == null) {
                    throw new TypeError(" this is null or not defined");
                }
                var O = Object(this);
                var len = O.length >>> 0; // Hack to convert O.length to a UInt32
                if ({}.toString.call(callback) != "[object Function]") {
                    throw new TypeError(callback + " is not a function");
                }
                if (thisArg) {
                    T = thisArg;
                }
                k = 0;
                while (k < len) {
                    var kValue;
                    if (k in O) {
                        kValue = O[k];
                        callback.call(T, kValue, k, O);
                    }
                    k++;
                }
            }
        };
        if(!window.console){
            window.console = {
                log: function(){

                }
            }
        }
        </script>
        <script src="vendors/jquery-1.9.1.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="vendors/datatables/js/jquery.dataTables.min.js"></script>
        <script src="assets/scripts.js"></script>
        <script src="assets/DT_bootstrap.js"></script>

        <script src="js/config.js"></script>
        <!--script src="js/bower_components/jquery/dist/jquery.js"></script-->

        <script src="js/bower_components/angular/angular.js"></script>
        <script src="js/bower_components/angular-route/angular-route.js"></script>
        <script src="js/bower_components/angular-resource/angular-resource.js"></script>
        <script src="js/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="js/libs/bower_components/ng-table/ng-table.js"></script>

        <script src="js/ng-tasty-tpls.js"></script>
        <script src="js/libs/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
        <script src="js/libs/ng-file-upload.min.js"></script>
        <script src="js/libs/smarty-config.js"></script>
        <script src="js/libs/smarty.js"></script>
        <!--以下代码为JS自动生成-->
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/services/mainServices.js"></script>
        <script src="js/controllers/mainController.js"></script>
        <!--autojs-->
        <script src="js/app.js"></script>


    </body>
</html>
