<style>
    .topcat a, .topcat span{
        margin:20px 20px 0 0;
        display:inline-block;
        text-decoration: none;
        padding:5px 12px;
    }
    .topcat a.active{
        background-color:green;
        color:white;
        font-weight: bold;

    }
    </style>
<div class="row-fluid">
    <div class="span12 block" style="padding-bottom:15px;">

        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">分类选择</div>
        </div>
        <div class="span12 topcat">
            <div class="pull-left">
                <span>一级分类：</span>
            </div>
            <div class="pull-left">
                <a class='pull-left' href="javascript:///;" ng-click="changeCat(0, -1)" ng-class="{'active':-1==filterData.category_0}">不限</a>
                <a ng-repeat="cats in categories.data"  class='pull-left' ng-class="{'active':cats.id==filterData.category_0}" href="javascript:///;" ng-click="changeCat(0, cats.id)">{{cats.name}}</a>
            </div>
        </div>
        <div class="span12 topcat">
            <div class="pull-left">
                <span>二级分类：</span>
            </div>
            <div class="pull-left">
                <a ng-repeat="cats in categories_1" class='pull-left' ng-class="{'active':cats.id==filterData.category_1}" href="javascript:///;" ng-click="changeCat(1, cats.id)" ng-class="cats.id==filterData.category_1">{{cats.name}}</a>
            </div>
        </div>
        <div class="span12 topcat">
            <div class="pull-left">
                <span>三级分类：</span>
            </div>
            <div class="pull-left">
                <a ng-repeat="cats in categories_2" class='pull-left' ng-class="{'active':cats.id==filterData.category_2}" href="javascript:///;" ng-click="changeCat(2, cats.id)">{{cats.name}}</a>
            </div>
        </div>
    </div>
    <!-- block -->
    <div class="block" style="margin-top:10px;clear:both">
        <div class="navbar navbar-inner block-header" style="border-top:1px;">
            <div class="muted pull-left">产品列表</div>
        </div>
        <form class="form-inline" style="margin-left:20px;margin-top:20px;">
        <label>品名:</label><input type="text" class="input-small" ng-model="search.good_name" placeholder="品名">
        <label>是否促销:</label><input type="checkbox" class="input-small" ng-model="search.good_promotion" placeholder="品名">
        &nbsp;&nbsp;&nbsp;&nbsp;

        <button type="submit" ng-click="psearch()" class="btn">搜索</button>
        </form>
        <div class="block-content collapse in">
            <ul class="thumbnails" ng-repeat = "data in list">
                <li class="span3" ng-repeat="item in data">
                    <div class="thumbnail">
                        <img ng-src="/{{item.good_img}}" style='width:150px;height:150px;' />
                        <div class="text-primary">
                            {{item.good_name}}
                            <span class="text-warning" ng-if="item.good_new==1">新品</span>
                        </div>
                        <div class="center">剂量：{{item.good_gg}}</div>
                        <div class="center">生产商：{{item.good_cp}}</div>
                        <div class="center">销售价：{{item.good_price}}</div>
                        <div class="center">零售价：{{item.good_lsj}}</div>
                        <div class="center">折率：{{item.good_price/item.good_lsj*100 | toInt}}</div>
                        <div class="center">供应商：{{item.company_name}}</div>
                        <div class="center" ng-if="item.good_promotion">促销信息：{{item.good_promotion}}</div>
                        <div class="center">
                            <input class="input-small" type="text" ng-model="formData[item.good_id]" value=1 />
                            <a href="javascript:///" ng-click="buy(item.good_id, item.good_company,item.good_id)">购买</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="">
                共{{totalpage}}页，{{total}}条数据，当前第{{page}}页
            </div>
            <div page="mypages" class="pagination pagination-centered"></div>
        </div>
    </div>
    <!-- /block -->
</div>