<form class="form-horizontal showcase-form" role="form" id="form_data" method="post" name="form_data" novalidate="">
  <style>
      .error{color:red}
  </style>
	<table class="table table-bordered comTable">
  		<tbody>
		  <tr>
		    <td style="width:150px">用户名<font color="red">*</font></td>
		    <td colspan="2">
    		  <div err-Msg ng-model="errMsg" style="line-height:34px">
            <input type="text" name="username" class="form-control" placeholder="请输入3-10个英文字符" Is-English Not-Empty style="width:400px;float:left" ng-model="formData.username">
  			    <em class="error" ng-show="!form_data.username.$pristine && form_data.username.$invalid">{{errMsg}}</em>
          </div>    
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">用户密码<font color="red">*</font></td>
		    <td colspan="2">
            <div err-Msg ng-model="errMsg" style="line-height:34px">
                <input type="password" name="user_password" class="form-control" ng-model="formData.password" placeholder="以字母开头，长度在6-12之间，只能包含字符、数字和下划线。" Is-Password style="width:400px;float:left">
		    	      <em class="error" ng-show="!form_data.user_password.$pristine && form_data.user_password.$invalid">{{errMsg}}</em>
            </div>
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">确认密码<font color="red">*</font></td>
		    <td colspan="2">
            <div err-Msg ng-model="errMsg" style="line-height:34px">
                <input type="password" name="user_repeat_password" class="form-control" ng-model="repeat_password" placeholder="请输入相同密码" Is-Repeat="user_password" style="width:400px;float:left">
		    	      <em class="error" ng-show="!form_data.user_repeat_password.$pristine && form_data.user_repeat_password.$invalid">{{errMsg}}</em>
            </div>
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">所属权限组<font color="red">*</font></td>
		    <td colspan="2">
            <select name="group"  class="form-control" ng-model="formData.group" ng-options="group.name as group.name for group in grouplists.data" style="width:400px"></select>
		    </td>
		  </tr>                                
          <tr>
            <td align="center" style="background-color: #f7f7f7" colspan="3">
                <input type="hidden" value="1" id="status" class="checkdom" name="status">
          			<a id="save_file" class="btn btn-danger upBtn" ng-click="processForm()" ng-disabled="form_data.$invalid">提 交</a>
          			<a id="submit_file" class="btn btn-danger upBtn" ng-click="goBack()">取消</a>
            </td>
          </tr>	            
        </tbody>
    </table>
</form>