<form class="form-horizontal showcase-form" role="form" id="form_data" method="post" name="form_data" novalidate="">
	<table class="table table-bordered comTable">
  		<tbody>
		  <tr>
		    <td style="width:150px">用户名<font color="red">*</font></td>
		    <td colspan="2">
		      <input type="text" name="name" class="form-control" placeholder="请输入3-10个字符" style="width:300px" ng-model="formData.username">
			  <em style="color:red" ng-show="(form_data.code.$dirty || show_type == 1) && form_data.code.$error.pattern">请输入最少3位英文字符！</em>
			  <em style="color:red" ng-show="(form_data.code.$dirty || show_type == 1) && form_data.code.$error.required">必填项！</em>
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">用户密码<font color="red">*</font></td>
		    <td colspan="2">
              <input type="password" name="user_password" class="form-control" placeholder="6-20个字符" style="width:300px" required="" ng-maxlength="20" ng-minlength="6" ng-model="formData.password">
			  <em style="color:red" ng-show="(form_data.code.$dirty || show_type == 1) && form_data.code.$error.pattern">请输入最少3位英文字符！</em>
			  <em style="color:red" ng-show="(form_data.code.$dirty || show_type == 1) && form_data.code.$error.required">必填项！</em>
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">确认密码<font color="red">*</font></td>
		    <td colspan="2">
              <input type="password" name="user_repeat_password" class="form-control" ng-model="vm.user.repeat_password" style="width:300px" required="" ng-maxlength="20" ng-minlength="6" repeat="user_password">
              <em ng-show="dependency_form.user_repeat_password.$error.repeat">两次密码输入不一致！</em>
			  <em style="color:red" ng-show="(form_data.code.$dirty || show_type == 1) && form_data.code.$error.required">必填项！</em>
		    </td>
		  </tr>
		  <tr>
		    <td style="width:150px">所属权限组<font color="red">*</font></td>
		    <td colspan="2">
              <select name="group"  class="form-control" ng-model="formData.group" ng-options="group.name as group.name for group in grouplists.data" style="width:300px"></select>
		    </td>
		  </tr>                                
          <tr>
            <td align="center" style="background-color: #f7f7f7" colspan="3">
              <input type="hidden" value="1" id="status" class="checkdom" name="status">
          				<a id="save_file" class="btn btn-danger upBtn" ng-click="processForm()">提 交</a>
          				<a id="submit_file" class="btn btn-danger upBtn" ng-click="goBack()">取消</a>
            </td>
          </tr>	            
        </tbody>
    </table>
</form>