<h3>权限树结构<a href="#/auths/addapi" style="margin-left:20px">API注册</a></h3>
<style>
	.api-tree{
		line-height:30px;
		padding:20px;
		border:1px solid #ccc;
		position:relative;
	}
	.api-tree .api-module{
		margin: 10px 0;
	}
	.api-tree .api-module dd{
		margin-left:2em;
		color:#333;
	}
	.api-tree .api-module .tree-open{
		background:url(/img/tree-open.png) no-repeat left center;
		padding-left:20px;
	}
	.api-tree .api-module .tree-close{
		background:url(/img/tree-close.png) no-repeat left center;
		padding-left:20px;
	}
	.api-tree label{
		margin:0;
	}
</style>

<div class="api-tree">
	<dl class="api-module" ng-repeat="list in lists.data" ng-click="hanldeTree(this)">
		<dt data="{{list.name}}">
			<input type="checkbox" />
			<label class="tree-open">{{list.code}} {{list.model}}</label>
			<a href="#/auths/addapi/{{list.code}}" style="margin-left:20px">编辑</a>
			<span ng-click="delModule($index,list.code)" style="cursor:pointer;color:blue;margin-left:20px">删除</span>
		</dt>
		<dd ng-repeat="data in list.innerApi">
			<input type="checkbox" />
			<label class="tree-open">
				<span>{{data.name}}</span>
				<span>{{data.url}}</span>
				<span>{{menu[transBoole(data.isMenu,"number")]}}</span>
			</label>
		</dd>
	</dl>
</div>