<div class="row-fluid">
    <!-- block -->
    <div class="">
        <div>
        <div>企业资质 <a href="javascript:history.back();" class="pull-right">返回申请列表</a></div>
            <div class="muted" ng-if="user.role_type==2">图片大小不可超过1M</div>
        </div>
        <div class="mylist">
        <div ng-repeat = "item in list" class="clearfix" id="swiperlist">
            <div>
                <img ng-src="{{item.val}}" width=300 style="min-height:50px;" ngf-select ngf-multiple="false" accept=".jpg,.png,.jpeg" ngf-accept="'.jpg,.png,.jpeg'" ngf-change="upload($files, item.key)"  />
                <span ng-if="user.role_type==2" style="position:static;"  ngf-select ngf-multiple="false" accept=".jpg,.png,.jpeg" ngf-accept="'.jpg,.png,.jpeg'" ngf-change="upload($files, item.key)" >上传{{item.name}}</span>
                <span ng-if="user.role_type==1" style="position:static;">{{item.name}}</span>
            </div>
        </div>
    </div>
    </div>
    <!-- /block -->
</div>