<!--弹窗 开始-->
<div id="brg" style="display: none;" ng-style="dialogStyle"></div>
<div id="showdiv" style="top: 52px; display: none;" ng-style="dialogStyle">
<div id="contentdiv" class="ui-draggable" style="left: -18.5px; top: 10px;">
<div id="close" ng-click="dialogStyle={'display':'none'}">关闭</div>
<div id="inputdiv">
  <p style="text-align: left; font-size: 16px; font-weight: bold; margin-top: -10px; width: 100%; border-bottom: 1px solid rgb(238, 238, 238); padding-left: 10px;">充值</p>
  <table class="recharge_tb">
    <tbody><tr>
      <td class="fir">充值方式：</td>
      <td align="left">
              <input type="radio" name="onoff" id="onoff_c" value="ONLINE" style="margin:0;">&nbsp;网上充值&nbsp;&nbsp;
              <input type="radio" name="onoff" id="onoff_c" value="OFFLINE" style="margin:0;">&nbsp;线下交款&nbsp;&nbsp;
            </td>
    </tr>
    <tr style="display:none;" id="offPayway">
      <td class="fir">线下付款方式：</td>
      <td align="left">
      <select name="payChannel">
              <option value="OFFLINE_CASH">现金</option> 
              <option value="OFFLINE_TRANSFER">转账</option> 
              <option value="OFFLINE_TT">电汇</option> 
            </select>
      </td>
    </tr>
    <tr>
      <td class="fir">充值积分额：</td>
      <td align="left">
        <input name="point" type="text" style="height:30px;">&nbsp;积分
      </td>
    </tr>
    <tr>
      <td class="fir">手续费：</td>
      <td align="left">
       <span id="fee">0</span>% （由支付公司收取）
      </td>
    </tr>
    <tr>
      <td class="fir">需要付款额：</td>
      <td align="left">
        <span id="Payment">0</span>元
      </td>
    </tr>
    <tr>
      <td class="fir gray" valign="top">说明：</td>
      <td align="left" class="gray">
                   网上付款：积分额 * (1 + 1.2%)  = 付款额<br>
                   每次充值最少 2000 积分<br>
                   线下付款时须选择付款方式，且无手续费
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <br>
        <input id="confirm_recharge" type="button" class="btn btn-danger" value="确定充值">&nbsp;&nbsp;<input type="button" class="btn btn-danger" id="close_" value="取消">
      </td>
    </tr>
  </tbody></table>
</div>
</div>
</div>
<style>
.recharge_tb td{height:35px;}
.recharge_tb .fir{text-align:right;width:103px;}
.gray{color:#ccc;}
.none{display:none;}
</style>
<!--弹窗结束-->

<div class="operate panel panel-default">
    <div class="panel-body" style="height: 50px">
        <div class="pull-left">
            积分账户总览
        </div>
    </div>
</div>
<div style="background-color:#eee; border:#ddd 1px solid; width:100%; margin-bottom:20px;padding:30px 20px;">
    <table class="table table-bordered" style="background-color:#fff;">
        <tbody>
            <tr>
                <td>原始积分授信额度</td>
                <td>积分账户当前余额</td>
                <td>当前可发积分额度</td>
                <td>操作</td>
            </tr>
            <tr>
                <td><span id="pointCredit">{{accountInfo.data.creditAmt}}</span></td>
                <td><span id="pointBalance">{{accountInfo.data.balance}}</span></td>
                <td><span id="pointValid">5,171.00</span></td>
                <td><a class="btn btn-info" ng-click="dialogStyle={'display':'block'}">充值</a>&nbsp;<a class="btn btn-info">提现</a>
            </tr>
        </tbody>
    </table>
</div>
<p>积分变动时间：<span id="startTime">2015-03-01</span> 到 <span id="endTime">2015-05-31</span></p>
<div class="ul_table message-container">
    <main>
        <div class="mmGrid" style="width: auto; height: auto;">
            <style>
            .mmGrid .mmg13c0b-col0 {
                width: 250px;
                max-width: 250px;
            }
            
            .mmGrid .mmg13c0b-col1 {
                width: 150px;
                max-width: 150px;
            }
            
            .mmGrid .mmg13c0b-col2 {
                width: 150px;
                max-width: 150px;
            }
            
            .mmGrid .mmg13c0b-col3 {
                width: 250px;
                max-width: 250px;
            }
            
            .mmGrid .mmg13c0b-col4 {
                width: 250px;
                max-width: 250px;
            }
            
            .mmGrid .mmg13c0b-col5 {
                width: 150px;
                max-width: 150px;
            }
            
            .mmGrid .mmg13c0b-col6 {
                width: 140px;
                max-width: 140px;
            }
            
            .mmGrid .mmg13c0b-col7 {
                width: 140px;
                max-width: 140px;
            }
            
            .mmGrid .mmg13c0b-col8 {
                width: 90px;
                max-width: 90px;
            }
            </style>
            <div class="mmg-headWrapper">
                <form id="search_form" style="margin:0;">
                    <table class="mmg-head" cellspacing="0" style="left: 0px;">
                        <thead>
                            <tr>
                                <th class="mmg13c0b-col0  first" rowspan="1" colspan="1" data-colindex="0">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="积分变动时间">积分变动时间</span>
                                        <div class="mmg-sort mmg-desc"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                                <th class="mmg13c0b-col1 " rowspan="1" colspan="1" data-colindex="1">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="流水号">流水号</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                                <th class="mmg13c0b-col2 " rowspan="1" colspan="1" data-colindex="2">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="类型">类型</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                                <th class="mmg13c0b-col3 " rowspan="1" colspan="1" data-colindex="3">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="积分变动">积分变动</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                                <th class="mmg13c0b-col4 " rowspan="1" colspan="1" data-colindex="4">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="发生门店">发生门店</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                                <th class="mmg13c0b-col5 " rowspan="1" colspan="1" data-colindex="5">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="门店所属商圈">门店所属商圈</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
            <div class="mmg-colResizePointer"></div>
            <div class="mmg-colResizePointer-before"></div>
            <div class="mmg-backboard">
                <a class="mmg-btnBackboardUp"></a>
                <h1>显示列</h1>
                <label>
                    <input type="checkbox" checked="checked"><span title="积分变动时间">积分变动时间</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="流水号">流水号</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="类型">类型</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="积分变动">积分变动</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="发生门店">发生门店</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="门店所属商圈">门店所属商圈</span></label>
                <label>
            </div>
            <div class="mmg-bodyWrapper" style="height: auto; width: auto;">
                <table id="mmg" class="mmg mmg-body" style="width: 1370px;">
                    <tbody>
                        <tr class="" ng-repeat="item in accountInfo.data.list">
                            <td class="mmg13c0b-col0 colSelected"><span class="">{{item.orderTime}}</span></td>
                            <td class="mmg13c0b-col1"><span class="">{{item.orderNo}}</span></td>
                            <td class="mmg13c0b-col2"><span class="">{{item.orderType}}</span></td>
                            <td class="mmg13c0b-col3"><span class="">{{item.pointAmt}}</span></td>
                            <td class="mmg13c0b-col4"><span class="">{{item.storeId}}</span></td>
                            <td class="mmg13c0b-col5"><span class="">未提供数据</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="mmg-btnBackboardDn" style="top: 35px; display: none;"></a>
            <div class="mmg-message" style="display: none;">你的查询条件错误或查询结果不存在，请重新查询！</div>
            <div class="mmg-mask mmg-transparent" style="display: none;"></div>
            <div class="mmg-loading" style="left: 577px; top: 33px; display: none;">
                <div class="mmg-loadingImg"></div>
            </div>
        </div>
        <div id="pg" style="text-align: right;" class="mmPaginator" ng-show="accountInfo.data.totalCount>0">
            <input type="button" class="btn btn-info" value="导出Excel" id="btnExport">
            <div class="totalCountLabel">共<span>{{accountInfo.data.totalCount}}</span>条记录</div>
            <ul class="pageList">
                <li class="prev" ng-class="{true:'disable'}[currentPage==1]" ng-click="prev()"><a>«</a></li>
                <li  ng-repeat="page in pages" class="" ng-class="{true:'active'}[page==currentPage]"><a href="javascript:void(0)" ng-click="loadPage(page)">{{page}}</a></li>
                <li class="next" ng-class="{true:'disable'}[currentPage==totalPage]" ng-click="next()"><a title="下一页" javascript:"void(0)">»</a></li>
            </ul>
            <div class="limit">
                <select ng-model="pageSize" ng-options="ps for ps in [10, 20, 100]" ng-change="changeLimit()">
                <option value="{{pageSize}}">{{pageSize}}</option>
                </select>
            </div>
        </div>
    </main>
    <div class="pull-left" style="margin-top:-33px;" id="batchActions"></div>
</div>
