<div class="operate panel panel-default">
    <div class="panel-body" style="height: 50px">
        <div class="pull-left">
            积分提现
        </div>
    </div>
</div>
<div class="ul_table message-container">
    <div class="rows">
        <div class="col-sm-12" id="content">
        <p id="suc_content" style="display:none;">提现申请提交成功，我们会在5个工作日内完成打款，请注意查收。</p>
     <table class="table table-bordered" id="input_content">
          <tbody><tr>
            <td>本次提现额度:</td>
            <td colspan="2">
              <input type="text" name="point" class="checkdom" ng-model="point" value="">&nbsp;分
              <p><br>注：<br>
                 1、1分=1元 人民币；<br>
                 2、积分只能提取到您合同中约定的银行账户；<br>
                 3、提交后，预计5个工作日内，款项到账，请注意查收。
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center" style="background-color: #f7f7f7">
              <input type="button" class="btn btn-danger" id="save_file" ng-click="withdraw()" value="确认提现">
            </td>
          </tr>
          </tbody></table>
        </div>
    </div>
</div>