<div class="row">
    <div class="col-xs-12">
        <link rel="stylesheet" href="/Public/css/draggable.css">
        <script src="/Public/js/jquery-ui-1.10.3.min.js"></script>
        <!--弹出层-->
        <div id="brg"></div>
        <div id="showdiv">
            <div id="contentdiv" style="width:398px;padding:40px 0px;">
                <div id="close">关闭</div>
                <div id="inputdiv">
                </div>
            </div>
        </div>
        <!--end-->
        <h2 class="boxTitle">积分充值</h2>
        <div>
            <p>本次充值流水号：1435111045538</p>
            <p>本次充值金额：0.01元</p>
            <nav class="navFive">
                <a class="lw current"><span>支付平台</span></a>
            </nav>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" value="105" name="platformId"><img src="/Public/img/point/105.jpg"></td>
                    </tr>
                </tbody>
            </table>
            <div class="lineGray"></div>
            <div class="payLi clx">
                <a class="btnRed pure-button payBtn" id="goPay" href="#">确认支付</a>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
