<div class="operate panel panel-default">
    <div class="panel-body" style="height: 50px">
        <div class="pull-left">
            充值还款记录
        </div>
    </div>
</div>
<h2 class="boxTitle">充值还款记录列表</h2>
<div class="ul_table message-container">
    <main>
        <div class="mmGrid" style="width: auto; height: auto;">
            <style>
            .mmGrid .mmg10e31-col0 {
                width: 118px;
                max-width: 118px;
            }
            
            .mmGrid .mmg10e31-col1 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col2 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col3 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col4 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col5 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col6 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col7 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col8 {
                width: 117px;
                max-width: 117px;
            }
            
            .mmGrid .mmg10e31-col9 {
                width: 117px;
                max-width: 117px;
            }
            </style>
            <div class="mmg-headWrapper">
                <form id="search_form" style="margin:0;">
                    <table class="mmg-head" cellspacing="0" style="left: 0px;">
                        <thead>
                            <tr>
                                <th class="mmg10e31-col0  first" rowspan="1" colspan="1" data-colindex="0">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="创建时间">创建时间</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="createTime_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col1 " rowspan="1" colspan="1" data-colindex="1">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="充值成功时间">充值成功时间</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="rechargeTime_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col2 " rowspan="1" colspan="1" data-colindex="2">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="充值流水号">充值流水号</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="orderNo_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col3 " rowspan="1" colspan="1" data-colindex="3">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="充值积分">充值积分</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="pointAmount_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col4 " rowspan="1" colspan="1" data-colindex="4">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="支付金额（元）">支付金额（元）</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="payAmount_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col5 " rowspan="1" colspan="1" data-colindex="5">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="网上支付状态">网上支付状态</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="orderStatus_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col6 " rowspan="1" colspan="1" data-colindex="6">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="充值方式">充值方式</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="payType_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col7 " rowspan="1" colspan="1" data-colindex="7">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="付款方式">付款方式</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="payChannel_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col8 " rowspan="1" colspan="1" data-colindex="8">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="财务确认">财务确认</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="financeFlag_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg10e31-col9  last" rowspan="1" colspan="1" data-colindex="9">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="操作">操作</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="opts_like" style="display:none;" value="筛选...">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
            <div class="mmg-colResizePointer"></div>
            <div class="mmg-colResizePointer-before"></div>
            <div class="mmg-backboard">
                <a class="mmg-btnBackboardUp"></a>
                <h1>显示列</h1>
                <label>
                    <input type="checkbox" checked="checked"><span title="创建时间">创建时间</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="充值成功时间">充值成功时间</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="充值流水号">充值流水号</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="充值积分">充值积分</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="支付金额（元）">支付金额（元）</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="网上支付状态">网上支付状态</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="充值方式">充值方式</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="付款方式">付款方式</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="财务确认">财务确认</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="操作">操作</span></label>
            </div>
            <div class="mmg-bodyWrapper" style="height: auto; width: auto;">
                <table id="mmg" class="mmg mmg-body" style="width: 1171px;">
                    <tbody>
                        <tr class="emptyRow" ng-show="dataError">
                            <td style="border: 0px;background: none;">
                                <div style="text-align: center;">你的查询条件错误或查询结果不存在，请重新查询！</div>
                            </td>
                        </tr>
                        <tr ng-repeat="item in repaymentInfo.data.list">
                            <td>{{item.createTime}}</td>
                            <td>{{item.rechargeTime}}</td>
                            <td>{{item.orderNo}}</td>
                            <td>{{item.pointAmount}}</td>
                            <td>{{item.payAmount}}</td>
                            <td>{{item.orderStatus}}</td>
                            <td>{{item.payType}}</td>
                            <td>{{item.payChannel}}</td>
                            <td>{{item.financeFlag}}</td>
                            <td>
                                <span class=""><a class="btn btn-info" href="/point/account/pay?orderNo=1435111045538&amp;payAmount=0.01&amp;payOrderNo=20150624095725001153">付款</a></span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <a class="mmg-btnBackboardDn" style="top: 35px; display: none;"></a>
            <div loading></div>
        </div>
        <!--分页-->
        <div id="pg" style="text-align: right;" class="mmPaginator" ng-show="repaymentInfo.data.total>0">
            <input type="button" class="btn btn-info" value="导出Excel" id="btnExport">
            <div class="totalCountLabel">共<span>{{repaymentInfo.data.total}}</span>条记录</div>
            <ul class="pageList">
                <li class="prev" ng-class="{true:'disable'}[currentPage==1]" ng-click="prev()"><a>«</a></li>
                <li  ng-repeat="page in pages" class="" ng-class="{true:'active'}[page==currentPage]"><a href="javascript:void(0)" ng-click="loadPage(page)">{{page}}</a></li>
                <li class="next" ng-class="{true:'disable'}[currentPage==totalPage]" ng-click="next()"><a title="下一页" javascript:"void(0)">»</a></li>
            </ul>
            <div class="limit">
                <select ng-model="pageSize" ng-options="ps for ps in [5, 10, 100]" ng-change="changeLimit()">
                    <option value="{{pageSize}}">{{pageSize}}</option>
                </select>
            </div>
        </div>
    </main>
    <div class="pull-left" style="margin-top:-33px;" id="batchActions"></div>
</div>
