<div class="operate panel panel-default">
    <div class="panel-body" style="height: 50px">
        <div class="pull-left">
            积分交易明细查询
        </div>
    </div>
</div>
<div style="background-color:#eee; border:#ddd 1px solid; width:100%; margin-bottom:20px;padding:30px 20px;">
    <form id="_CustomizedQueryForm" onsubmit="javascript:return false;" style="margin:0;">

        <div>
            积分变动时间：
            <input type="text" name="startTime" class="datepicker" style="height:30px;" readonly
                   ng-model="startTime">&nbsp;&nbsp; 到&nbsp;&nbsp;
            <input type="text" name="endTime"  class="datepicker" style="height:30px;" readonly
                   ng-model="endTime">&nbsp;&nbsp;
            <input type="button" ng-click="query()" value="查询" class="btn btn-info">
            <input type="hidden" >
        </div>
    </form>
    <div style="padding:5px 0 10px 100px;">
        <span class="timeSearch" ng-click="earlyDay(0)"><a>今天</a></span>
        <span class="timeSearch" ng-click="earlyDay(-2)"><a>最近3天</a></span>
        <span class="timeSearch" ng-click="earlyDay(-6)"><a>最近7天</a></span>
        <span class="timeSearch" ng-click="earlyDay(-29)"><a>最近30天</a></span>
        <span class="timeSearch" ng-click="earlyMonth(0)"><a>本月</a></span>
        <span class="timeSearch" ng-click="earlyMonth(-1)"><a>上月</a></span>
    </div>
    <table class="table table-bordered" style="background-color:#fff;">
        <tbody>
            <tr>
                <td>积分增加</td>
                <td>积分减少</td>
                <td>积分增减</td>
                <td>充值还款</td>
                <td>积分提现</td>
                <td>积分累计</td>
            </tr>
            <tr>
                <td>{{transactionData.result.pointAdd}}</td>
                <td>{{transactionData.result.pointReduce}}</td>
                <td>{{transactionData.result.pointBalance()}}</td>
                <td>{{transactionData.result.recharge}}</td>
                <td>{{transactionData.result.withdraw}}</td>
                <td>{{transactionData.result.pointTotal()}}</td>
            </tr>
        </tbody>
    </table>
    <p>* 积分增加：所有引起积分账户增加的交易合计，积分减少：所有引起积分账户减少的交易合计
        <br> * 积分增减 = 积分增加 - 积分减少
        <br> * 积分累计 = 积分增加 - 积分减少 + 充值还款 - 积分提现
    </p>
</div>
<div class="ul_table message-container">
    <main>
        <div class="mmGrid" style="width: auto; height: auto;">
            <style>
            .mmGrid .mmg11d87-col0 {
                width: 148px;
                max-width: 148px;
            }

            .mmGrid .mmg11d87-col1 {
                width: 147px;
                max-width: 147px;
            }

            .mmGrid .mmg11d87-col2 {
                width: 147px;
                max-width: 147px;
            }

            .mmGrid .mmg11d87-col3 {
                width: 147px;
                max-width: 147px;
            }

            .mmGrid .mmg11d87-col4 {
                width: 147px;
                max-width: 147px;
            }

            .mmGrid .mmg11d87-col5 {
                width: 147px;
                max-width: 147px;
            }
            </style>
            <div class="mmg-headWrapper">
                <form id="search_form" style="margin:0;">
                    <table class="mmg-head" cellspacing="0" style="left: 0px;">
                        <thead>
                            <tr>
                                <th class="mmg11d87-col0  first" rowspan="1" colspan="1" data-colindex="0">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="积分变动时间">积分变动时间</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="orderTime_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg11d87-col1 " rowspan="1" colspan="1" data-colindex="1">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="流水号">流水号</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="orderNo_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg11d87-col2 " rowspan="1" colspan="1" data-colindex="2">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="类型">类型</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="orderType_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg11d87-col3 " rowspan="1" colspan="1" data-colindex="3">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="积分变动">积分变动</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="pointAmt_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg11d87-col4 " rowspan="1" colspan="1" data-colindex="4">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="发生门店">发生门店</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="storeName_like" style="display:none;" value="筛选...">
                                </th>
                                <th class="mmg11d87-col5  last" rowspan="1" colspan="1" data-colindex="5">
                                    <div class="mmg-titleWrapper"><span class="mmg-title mmg-canSort " title="门店所属商圈">门店所属商圈</span>
                                        <div class="mmg-sort"></div>
                                        <div class="mmg-colResize"></div>
                                    </div>
                                    <input class="_mmgrid_search_input" type="text" name="storePlaza_like" style="display:none;" value="筛选...">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </form>
            </div>
            <div class="mmg-colResizePointer"></div>
            <div class="mmg-colResizePointer-before"></div>
            <div class="mmg-backboard">
                <a class="mmg-btnBackboardUp"></a>
                <h1>显示列</h1>
                <label>
                    <input type="checkbox" checked="checked"><span title="积分变动时间">积分变动时间</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="流水号">流水号</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="类型">类型</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="积分变动">积分变动</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="发生门店">发生门店</span></label>
                <label>
                    <input type="checkbox" checked="checked"><span title="门店所属商圈">门店所属商圈</span></label>
            </div>
            <div class="mmg-bodyWrapper" style="height: auto; width: auto;">
                <table id="mmg" class="mmg mmg-body" style="width: 1171px;">
                    <tbody>
                    <tr ng-repeat="item in transactionDataDetail">
                        <td class="mmg11d87-col0">{{item.orderTime}}</td>
                        <td class="mmg11d87-col1">{{item.orderNo}}</td>
                        <td class="mmg11d87-col2">{{item.orderType}}</td>
                        <td class="mmg11d87-col3">{{item.pointAmt}}</td>
                        <td class="mmg11d87-col4">{{item.storeId}}</td>
                        <td class="mmg11d87-col5">{{item.storeId}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="mmg-btnBackboardDn" style="top: 35px; display: none;"></a>
            <div class="mmg-message" style="display: none;">你的查询条件错误或查询结果不存在，请重新查询！</div>
            <div loading></div>
        </div>

        <!--分页-->
        <div id="pg" style="text-align: right;" class="mmPaginator" ng-show="transactionData.totalCount>0">
            <input type="button" class="btn btn-info" value="导出Excel" id="btnExport">
            <div class="totalCountLabel">共<span>{{transactionData.totalCount}}</span>条记录</div>
            <ul class="pageList">
                <li class="prev" ng-class="{true:'disable'}[currentPage==1]" ng-click="prev()"><a>«</a></li>
                <li  ng-repeat="page in pages" class="" ng-class="{true:'active'}[page==currentPage]"><a href="javascript:void(0)" ng-click="loadPage(page)">{{page}}</a></li>
                <li class="next" ng-class="{true:'disable'}[currentPage==totalPage]" ng-click="next()"><a title="下一页" javascript:"void(0)">»</a></li>
            </ul>
            <div class="limit">
                <select ng-model="pageSize" ng-options="ps for ps in [10, 20, 100]" ng-change="changeLimit()">
                    <option value="{{pageSize}}">{{pageSize}}</option>
                </select>
            </div>
        </div>
    </main>
    <div class="pull-left" style="margin-top:-33px;" id="batchActions"></div>
</div>




