<div class="span12">
 <form class="form-horizontal">
  <fieldset>
    <legend>编辑企业</legend>
    <div class="control-group">
      <label class="control-label" for="name">企业名称</label>
      <div class="controls">
        <input ng-model="formData.name" class="input-xlarge focused" id="name" type="text" value="" name="name" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="type">企业类型</label>
      <div class="controls">
        <input ng-model="formData.type" readonly="" class="input-xlarge focused" id="type" type="text" value="" name="shortname" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="shortname">简称</label>
      <div class="controls">
        <input ng-model="formData.shortname" class="input-xlarge focused" id="shortname" type="text" value="" name="shortname" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pingying">拼音</label>
      <div class="controls">
        <input ng-model="formData.pingying" class="input-xlarge focused" id="pingying" type="text" value="" name="pingying" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="address">地址</label>
      <div class="controls">
        <input ng-model="formData.address" class="input-xlarge focused" id="address" type="text" value="" name="address" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="city">城市</label>
      <div class="controls">
        <input ng-model="formData.city" class="input-xlarge focused" id="city" type="text" value="" name="city" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="contact">联系人</label>
      <div class="controls">
        <input ng-model="formData.contact" class="input-xlarge focused" id="contact" type="text" value="" name="contact" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">邮箱</label>
      <div class="controls">
        <input ng-model="formData.email" class="input-xlarge focused" id="email" type="text" value="" name="email" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="good_lsj">传真</label>
      <div class="controls">
        <input ng-model="formData.fax" class="input-xlarge focused" id="fax" type="text" value="" name="fax" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="telephone">电话</label>
      <div class="controls">
        <input ng-model="formData.telephone" class="input-xlarge focused" id="telephone" type="text" value="" name="telephone" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="mobile">手机</label>
      <div class="controls">
        <input ng-model="formData.mobile" class="input-xlarge focused" id="mobile" type="text" value="" name="mobile" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="website">网址</label>
      <div class="controls">
        <input ng-model="formData.website" class="input-xlarge focused" id="website" type="text" value="" name="website" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="zipcode">邮编</label>
      <div class="controls">
        <input ng-model="formData.zipcode" class="input-xlarge focused" id="zipcode" type="text" value="" name="zipcode" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="status">状态</label>
      <div class="controls">
        <select name="status" ng-model="formData.status">
          <option value="0">正常</option>
          <option value="1">停用</option>
        </select>
      </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" ng-click="processForm()">提交</button>
    </div>
  </fieldset>
</form>
</div>